/* body{
    background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
*/
body{
    width: 100%;
    margin: 0px;
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

.container{
    text-align: center;
    width: 588px;
    border: 1px solid red;
    margin: auto;
}

.top{
    text-align: center;
}

.top img{
    width: 112px;
}